{{ partial "head.html" . }}
<body id="home">
{{ partial "header.html" . }}


<section class="tw-bg-[#2a1d20] tw-pb-20">
  <div class="tw-container tw-mx-auto">
    <div class="tw-flex tw-flex-col md:tw-flex-row">
      <div class="tw-w-full md:tw-w-1/2 tw-flex tw-justify-center md:tw-justify-end tw-items-center">
        <img src="/assets/REALITY CHECK BOOK MOCKUP.png" alt="" class="tw-max-w-[80%]">
      </div>
      <div class="tw-w-full md:tw-w-1/2 tw-flex tw-items-center tw-justify-center md:tw-justify-start">
        <div class="homeBannerTxtBx tw-text-white tw-text-center md:tw-text-left">
          <p class="tw-text-3xl">Think You Know The Situation?</p>
          <p class="tw-text-5xl tw-text-[#a22c34]">Now You Do.</p>
          <div class="bannerAuthor tw-mb-2">By <span><b>Mike Sorrentino</b> </span>with <b>Andy Symonds</b>
          </div>
          {{ partial "signed-button.html" .}}
        </div>
      </div>
    </div>
  </div>
</section>




<section id="buy-now" class="padding">
  <div class="container">
    <div id="signed-edition" class="tw-flex tw-flex-col-reverse md:tw-flex-row">
      <div class="col-xs-12 col-sm-6 tw-mt-0 md:tw-mt-8">
        <p class="tw-text-l tw-font-light">BOOK COVER:</p>
          <ul>
            <li>6x9 hardcover</li>
            <li>Gloss Dustjacket</li>
            <li>288 pages</li>
            <li>30+ exclusive photos</li>
            <li>Hand-signed personally by Mike</li>
          </ul>
        <p class="tw-text-l tw-font-light">Book Launch Details (Date TBD):</p>
          <ul>
            <li>Exclusive online event only available to those who order a signed, first edition copy</li>
            <li>Will take place before book releases to general public</li>
            <li>Mike will give a talk, do a reading, and take questions. Look for special guests!</li>
            <li>Purchase here for access to Mike’s book launch event!</li>
          </ul>
          {{ partial "signed-button.html" .}}
      </div>
      <div class="col-xs-12 col-sm-6 tw-flex tw-justify-center md:tw-justify-start">
        <img src='{{ "assets/REALITY CHECK BOOK MOCKUP B.png" | relURL }}' alt="Reality Check" class="tw-max-w-[400px]">
      </div>
    </div>
  </div>
</section>


<section id="sectionsigup" class="aos-item padding"  data-aos="fade-in">
  <div class="container">
    <div class="row">
      <div class="col-12 aos-item" data-aos="fade-right">
        <div class="tw-px-4 sigupBookTxtBx">
          <h2>For the first time, Mike <span class="tw-text-[#a22c34]">“The Situation”</span> Sorrentino opens up about his crippling drug addiction, finding himself broke and homeless, losing friends and family to overdoses, and going to prison.</h2>
          <p>An inspiring story of redemption, loss, and never giving up, Realty Check is a page-turning whirlwind with action-packed, unbelievable stories filling every page. From drug-fueled orgies to divulging what really happened behind the scenes of reality television’s most loved and dysfunctional family, for the first time, Mike’s book reveals all.</p>
          <p>Pre-order your first edition, signed hardcover copy now and receive it a month before the fall 2023 release date. Signed pre-orders also get access to an exclusive Zoom launch party with Mike and special guests.</p>
          
          
          {{ partial "button.html" .}}
        </div>
      </div>
    </div>
  </div>
</section>


<section id="excerpt" class="aos-item padding"  data-aos="fade-in">
  <div class="container">
    <div class="row">
      <div class="col-12 aos-item" data-aos="fade-right">
        <div class="tw-px-4 sigupBookTxtBx">
          <h2>In Reality Check, opens <span class="tw-text-[#a22c34]">Mike </span>up about:</h2>
          <ul style="list-style-type: disc;">
            <li class="tw-cursor-pointer list">His time as a large-scale cocaine dealer in New Jersey...
            </li>
            <li class="tw-hidden tw-text-xs" style="padding: 0 ;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat non veritatis itaque quae aperiam. Labore ipsam voluptatibus eligendi laudantium tenetur incidunt odit omnis consequatur hic. Obcaecati porro sunt accusamus dolores.</li>
            <li class="tw-cursor-pointer list">How he became addicted to prescription drugs and nearly went crazy from drug use...
            </li>
            <li class="tw-hidden tw-text-xs" style="padding: 0 ;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat non veritatis itaque quae aperiam. Labore ipsam voluptatibus eligendi laudantium tenetur incidunt odit omnis consequatur hic. Obcaecati porro sunt accusamus dolores.</li>
            <li class="tw-cursor-pointer list">Trying heroin...
            </li>
            <li class="tw-hidden tw-text-xs" style="padding: 0 ;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat non veritatis itaque quae aperiam. Labore ipsam voluptatibus eligendi laudantium tenetur incidunt odit omnis consequatur hic. Obcaecati porro sunt accusamus dolores.</li>
            <li class="tw-cursor-pointer list">Getting cast on America’s biggest reality show...
            </li>
            <li class="tw-hidden tw-text-xs" style="padding: 0 ;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat non veritatis itaque quae aperiam. Labore ipsam voluptatibus eligendi laudantium tenetur incidunt odit omnis consequatur hic. Obcaecati porro sunt accusamus dolores.</li>
            <li class="tw-cursor-pointer list">Hotel concierges telling him that no one since George Clooney brought more women to his room...
            </li>
            <li class="tw-hidden tw-text-xs" style="padding: 0 ;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat non veritatis itaque quae aperiam. Labore ipsam voluptatibus eligendi laudantium tenetur incidunt odit omnis consequatur hic. Obcaecati porro sunt accusamus dolores.</li>
            <li class="tw-cursor-pointer list">His relationships with his castmates...
            </li>
            <li class="tw-hidden tw-text-xs" style="padding: 0 ;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat non veritatis itaque quae aperiam. Labore ipsam voluptatibus eligendi laudantium tenetur incidunt odit omnis consequatur hic. Obcaecati porro sunt accusamus dolores.</li>
            <li class="tw-cursor-pointer list">What finally got him clean...
            </li>
            <li class="tw-hidden tw-text-xs" style="padding: 0 ;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat non veritatis itaque quae aperiam. Labore ipsam voluptatibus eligendi laudantium tenetur incidunt odit omnis consequatur hic. Obcaecati porro sunt accusamus dolores.</li>
            <li class="tw-cursor-pointer list">His relationship with his college sweetheart and now wife and mother of his children...
            </li>
            <li class="tw-hidden tw-text-xs" style="padding: 0 ;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat non veritatis itaque quae aperiam. Labore ipsam voluptatibus eligendi laudantium tenetur incidunt odit omnis consequatur hic. Obcaecati porro sunt accusamus dolores.</li>
          </ul> 
          
          {{ partial "button.html" .}}
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  let list = document.querySelectorAll('.list');

  for (let i = 0; i < list.length; i++) {
    list[i].addEventListener('click', ()=> {
      console.log(list[i].nextElementSibling)
      list[i].nextElementSibling.classList.toggle('tw-block')
      list[i].nextElementSibling.classList.toggle('tw-hidden')
      
    })
  }
</script>


<div id="sample" class="mfp-hide">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 preview">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}

{{ partial "scripts.html" .}}

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>
</html>